nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
} 
.logo{
    display: inline-block;
    height: 85px;
    width: 230px;
}

.list_nav{
    display: flex;
    list-style: none;

}

.botones_nav{
    display: inline-block;
    margin-top: 12px;
    padding: 10px; 
    font-weight: bold;
} 
.navBack{
    background: rgb(123, 122, 122);
    background: linear-gradient(180deg, rgba(0,0,0,0.83) 0%, rgb(3, 106, 6) 4%, rgb(3, 106, 6) 96%, rgba(0,0,0,0.83) 100%); 
}

#navbarNav{
    flex-direction: row-reverse;

}

.navbar-nav{
    align-items: flex-end;
}
.nav-link:hover{
    color: antiquewhite;

}

.nav-item{
    margin-left: 1vh;
    margin-right: 1vh;
    font-size: 2vw !important;
}

@media (max-width: 767px){
    .logo{
        width: 155px;
        height: 50px
    }
}

@media (max-width: 1050px){
    .logo{
        width: 175px;
        height: 70px
    }
}