.sobre_nos_info{
    display: grid;
    max-width: 100%;
    height: auto;
    grid-template-columns: 50% 50%;
    
    padding: 0.5vw;
    margin: 0.7vh 1vw 0.7vh 1vw;
    gap: 1em;
}

.imgs_sobre{
    object-fit: cover;
  width: 100%;
  max-height: 100%
}

@media (max-width: 850px){
    .sobre_nos_info{
        display: flex;
        flex-direction: column;
    }
    .box_1 {
        order: 1;
    }
    .box_2 {
        order: 2;
    }
    .box_3 {
        order: 4;
    }
    .box_4 {
        order: 3;
    }
    .box_5 {
        order: 5;
    }
    .box_6 {
        order: 6;
    }
}