
@import "fonts";
@import "nav";
@import "footer";
@import "form";

$link-color: rgba(129,128,134,255);
$estilos:(
    pad: 10px;
    mT: 10px;
    mB: 10px;
    justi: justified;
)
*{
    margin: 0px;
    padding: 0px;
}

@mixin marg-pad{
    padding: 20px;
   margin: 10px 10px 10px 10px;
}

body{
    background-color: rgb(246, 238, 226);
}

h1{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    color: rgb(4, 46, 4);


}

ul li{
    font-family: 'Merriweather', serif;
    font-size: 25px;

    }

div{
    font-family: 'Inter', sans-serif;
    font-size: 3vh;
   
}

h2{
    margin-top: 3vh !important;
    margin-bottom: 3vh !important;
    text-align: center;
    font-size: 5vw !important;
}

p{
    font-family: 'Inter', sans-serif;
    text-align: map-get($estilos, justi);
    margin-top: map-get($estilos, mT);
    margin-bottom: map-get($estilos, mB);
    padding: map-get($estilos, pad);
    

}

iframe{
    margin: 30px 0px 30px 20px;
}

.images{
    margin: 30px 0px 30px 20px;
    border: 3px black;
}

.titulos_productos{
    align-self: center;
    justify-content: center;
}

a:hover{
    color: rgb(254, 255, 255) !important;
}

.botones{
    color: black;
}

a{
    text-decoration: none;
    color: $link-color;

}

h5{
    font-family: 'Merriweather', serif;
    font-size: 5vw !important;
    text-align: center;
    margin-bottom: 4vh !important;
    margin-top: 4vh !important;
}

.linea-monitores-img{
    width: 100%;
  height: auto;
 }
